<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>
https://drive.usercontent.google.com/download?id=1L5LCf5BZ7OCE0avZ2C6hj0DkTHfxMGSO&export=download&authuser=1&confirm=t&uuid=0562d737-2cbe-483f-bbb3-d481122a78ec&at=AEz70l65f5EvRx2YEtZ6l2B-wmkt:1742067010143</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.SideStore.SideStore</string>
				<key>bundle-version</key>
				<string>7.4</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>SideStore</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
